body {
    margin: 0;
    overflow: hidden;
    background: black;
}

#matrix {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

#dino {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 50px;
    background: url('./img/dino.png') no-repeat center center;
    background-size: contain;
}

#coco {
    position: absolute;
    top: 0;
    width: 30px;
    height: 30px;
    background: url('./img/coco.png') no-repeat center center;
    background-size: contain;
}

#score {
    position: absolute;
    top: 10px;
    left: 10px;
    color: white;
    font-size: 24px;
}

#lives {
    position: absolute;
    top: 10px;
    right: 10px;
    color: white;
    font-size: 24px;
}

#fireball {
    position: absolute;
    width: 30px;
    height: 30px;
    background: url('./img/fireball.png') no-repeat center center;
    background-size: contain;
}

#botonjugar {
    z-index: 3;
    position: relative;
    text-align: center;
    margin: 15% 45%;
    padding: 2rem 5rem;
    font-size: large;
    background-color: #12ba12;
    border-color: #0e520e;
    border-radius: 1em;
    color: #ded2d2;
}

#botonjugar:active {
    background-color: #61b661;
    border-color: #2f4a2f;
}

canvas {
    position: relative;
}